<% provide :title, t(".home") %>
<% if user_signed_in? %>
  <h1><%= t ".home" %></h1>
  <%= current_user.email %>
<% else %>
  <div class="row jumbotron">
    <div class="col-md-8 center">
      <h1><%= t ".welcome" %></h1>
      <h2>
        <%= t ".it_free" %>
      </h2>
      <%= link_to t(".signup"), "#", class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-4 home-login">
      <%= form_for :session, url: "#" do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me, class: "session-remember-me" %>
          <span><%= t ".remember_me" %></span>
        <% end %>

        <%= f.submit t(".login"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
