<% provide :title, t(".home") %>
<% if user_signed_in? %>
  <h1><%= t ".home" %></h1>
  <%= current_user.email %>
<% else %>
  <div class="row jumbotron">
    <div class="center">
      <h1><%= t ".welcome" %></h1>
      <h2>
        <%= t ".it_free" %>
      </h2>
      <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
      <p> <%= t ".or" %> </p>
      <%= link_to t(".login"), login_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
