<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4">
    <%= render "shared/user_info" %>
    <% if current_user == @user %>
      <%= render "shared/post_form", post: @post %>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3><%= t ".post" %>(<%= @user.posts.size %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= paginate @posts, theme: "twitter-bootstrap-3" %>
  </div>
</div>
