<% provide :title, @title %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to image_tag(@user.avatar, size: Settings.user.avt_size_50), @user %>
      <h1><%= link_to @user.name, @user %></h1>
      <span><%= t ".post" %><%= @user.posts.count %></span>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render partial: "user", collection: @users %>
      </ul>
    <% end %>
  </div>
</div>
