<% provide :title, t(".edit_password") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t ".change_pass" %></h2>
    <%= form_for resource, as: resource_name, url: password_path(resource_name),
      html: {method: :put} do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, t(".new_pass") %>
          <em>(<%= @minimum_password_length %> <%= t(".character_min") %>)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t(".comfirm") %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t(".change"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
