<% @posts.each do |post| %>
<div class="well">
  <div class="media-body">
    <div id="post-<%= post.id %>">
      <div class="col-md-12">
        <div class="col-md-1">
          <%= link_to image_tag(post.user.avatar, size: Settings.user.avt_size_50),
            post.user %>
        </div>
        <div class="col-md-11">
          <span class="user-name">
            <%= link_to post.user.name, post.user %>
          </span>
          <span class="timestamp">
            <%= link_to post_path(post), class: "timestamp" do %>
              <%= t ".posted" %> <%= time_ago_in_words post.created_at %>
                <%= t ".ago" %>
              <% if user_signed_in?  %>
                <% if current_user == post.user || current_user.is_admin? %>
                <div class="text-right">
                    <%= link_to t(".edit"), edit_post_path(post) %>
                    <%= link_to t(".delete"), post, method: :delete,
                      data: {confirm: t(".sure")} %>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
      <span class="content">
        <div class="post-title">
          <%= post.title %>
        </div>
        <%= post.content %>
        <div class="tagged-post">
          <% post.tags.each do |tag| %>
            <%= link_to "#"+tag.name, tag %>
          <% end %>
        </div>
        <div class="image-post">
          <%= image_tag post.picture.url if post.picture? %>
        </div>
      </span>
    </div>
  </div>
</div>
<% end %>
<%= paginate @posts, theme: "twitter-bootstrap-3" %>
